
.restaurant-card {
    width: calc(100vw - 1rem);
    display: grid;
    grid-template-columns: 50% 50%;
    transition: all 0.3s ease-in-out;
}
.restaurant-card  > div {
    height: fit-content;
    margin: 1rem;
    transition: all 0.3s ease-in-out;

}
.rc-1 {
    background: white;
    display: flex;
    align-items: center;
    min-height: 50vh;
    position: relative;
    z-index: 0;
    padding: 1rem;
    flex-flow: column;
}
.rc-2 {
    min-height: 50vh;
    flex-flow: column;
    padding: 1rem
}

.rc-1 {
    display: flex;
    justify-content: center;
    padding: 4rem;
}

.rc-2 {
    position: relative;
    z-index: 10;
    display: flex; align-items: center; justify-content: center; 
    padding: 3rem;
    flex-flow: row;
}

.rc-2::after {
    content: "";
    background: rgb(60, 40, 60); 
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px; left: 0px;
    z-index: 5;
}
.rc-2 button {
    position: relative; z-index: 10;
    padding: 1rem;
    background: transparent;
    border: 3px solid khaki;
    color: khaki;
    cursor: pointer;
}